<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature converter</title>
    <link rel="stylesheet" href="style.css" src="/css/screen.css?v={CURRENT_TIMESTAMP}">
    <h1>Temperature converter</h1>
</head>
<body>
<br>
<div class="box">

    <form action="/" method="post">
        <label>Enter temperature:</label>
        <input name="startDegree" type="text">

        <p>Converted to: <span th:text="${convertedDegree}"></span></p>

        <input id="c2f" type="submit" value="C2F" name="C2F">
        <input type="submit" value="F2C" name="F2C">
    </form>
</div>
</body>
</html>